
data/exp2/tukawanai/user_taiou500.csv

data/exp2/tukawanai/movieLensUserCountTop500.csv

data/memo.txt

data/exp2/tukawanai/movieLensUserData500x300.csv

data/MovieLens/allbut.pl

data/MovieLens/mku.sh

*.xls

*.base

data/つかえない/*

*.test

data/MovieLens/u.genre

src/database.db

data/MovieLens/u.occupation

src/sql_for_target.py
