
data/exp2/tukawanai/user_taiou500.csv

data/exp2/tukawanai/movieLensUserCountTop500.csv

data/memo.txt

data/exp2/tukawanai/movieLensUserData500x300.csv

data/MovieLens/allbut.pl

data/MovieLens/mku.sh

*.xls

*.base

data/つかえない/movieLensXaux500x300.csv

*.test

data/MovieLens/u.genre

src/database.db

data/つかえない/movieLensXaux500x300item.csv

data/MovieLens/u.occupation
